@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Secular+One&display=swap');

:root {
    --primary-color: #d6fff6ff;
    --secondary-color: #4dccbdff;
    --accent1-color: rgb(209, 221, 229);
    --accent2-color: #231651ff;
    
    --heading-font: 'Amaranth', sans-serif;
    --paragraph-font: 'Amaranth', sans-serif;
    
    --nav-background-color:var(--accent1-color);
    --nav-link-color:var(--accent2-color);
    --nav-hover-link-color:var(--primary-color);
    --nav-hover-background-color:var(--secondary-color);
    --font-color:var(--accent2-color);
    }
.hero {
    position: relative;
}
.hero image {
    position: absolute;
    display: block;
    height: 0 auto;
    width: 1280;
}
.hero h1 {
    font-size: 50px;
    color:  rgb(155, 159, 162);
    position: absolute;
    text-align: center;
    top: 10%;
    left: 40%;
    transform: translate(-40%, -50%);
    margin: 1rem auto;
    background-color: rgba(128, 128, 128, 0.3);
    padding: 1rem;
    width: 900px;
}
.hero article p {
    position: absolute;
    color: var(--secondary-color);
    top: -340%;
    right: 110%;
    transform: translate(110%, -340%);
    width: 50vw;
    margin: 1rem auto;
    background-color: rgba(128, 128, 128, 0.3);
    padding: 1rem;
    -webkit-transform: translate(110%, -340%);
    -moz-transform: translate(110%, -340%);
    -ms-transform: translate(110%, -340%);
    -o-transform: translate(110%, -340%);
}

.hero article {
    position: absolute;
}
.hero article img {
    position: absolute;
    top: -260%;
    left: 285%;
    transform: translate(285%, -260%);
    width: 50vw;
    margin: 1rem auto;
    background-color: #eee;
    width: 300px;
    height: 200px;
    float: left -40%;
    -webkit-transform: translate(285%, -260%);
    -moz-transform: translate(285%, -260%);
    -ms-transform: translate(285%, -260%);
    -o-transform: translate(285%, -260%);
}
section p {
    font-size: 18px;
    color: var(--accent2-color);
}
section h2 {
    color: var(--accent2-color);
}
section img {
    width: 600px;
    height: 400px;
}
footer img{
    width: 55px;
    height: 55px;
    text-decoration: none;
}
