/* https://coolors.co/d6fff6-4dccbd-2374ab-231651-ff8484 */
@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Secular+One&display=swap');
:root {
--primary-color: #d6fff6ff;
--secondary-color: #4dccbdff;
--accent1-color: #2374abff;
--accent2-color: #231651ff;

--heading-font: 'Amaranth', sans-serif;
--paragraph-font: 'Amaranth', sans-serif;

--nav-background-color:var(--accent1-color)
--nav-link-color:var(--accent2-color)
--nav-hover-link-color:var(--primary-color)
--nav-hover-background-color:var(--secondary-color)
}

body {
    font-family: var(--heading-font)
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Arial Black';
    color: var(--primary-color)
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
